<div style="margin: 20px 0; text-align: center;">
    <% if (posts.hasPrevPage) { %>
        <a href="/posts?page=<%= posts.prevPage %>">Prev</a>
    <% } %>  

    <% for (let i = 1; i <= posts.totalPages; i++) { %>  
        <a href="/posts?page=<%= i %>" 
            <%= i === posts.page ? 'style="font-weight: bold; color:#000;"' : '' %>>
            <%= i %>
        </a>    
    <% } %>  

    <% if (posts.hasNextPage) { %>
        <a href="/posts?page=<%= posts.nextPage %>">Next</a>
    <% } %>  
</div>
